body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(119, 116, 116);
}
.wrapper {
  width:50%;
  margin: 20px auto;
}
.ihead {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
}
.ihead::before {
  content: "";
  height: 25px;
  background-color: #e35624;
  width: 100%;
  position: absolute;
  top: -25px;
}
.ibody::after {
    content: "";
    height: 20px;
    background-color: #e35624;
    width: 50%;
    position: absolute;
    display: block;
    bottom: 0;
  }

.brand {
  padding: 10px 40px;
  display: flex;
  gap: 20px;
}
.details h2,
p {
  margin: 1px;
  padding: 0;
}
.metadata {
  padding: 10px 40px;
  display: grid;
  gap: 10px;
}
.metadata span::after {
  display: block;
  content: "";
  width: 100%;
  background-color: #e35624;
  height: 2px;
}

.metadata span {
  text-align: center;
  color: rgb(39, 45, 157);
}

.terms {
  display: flex;
  justify-content: end;
  padding: 10px 0;
}

.shipping {
  display: flex;
  justify-content: space-around;
  height: 18vh;
}
.shipping .billto,
.shipto {
  width: 45%;
}
.shipping h2 {
  color: rgb(39, 45, 157);
  text-transform: uppercase;
  font-size: 18px;
}

.shipping h2::after {
  display: block;
  content: "";
  width: 100%;
  background-color: #b9b5b5;
  height: 1px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #ddd;
}

thead tr {
  background-color: #e35624;
  color: #f3f3f3;
}
thead th {
  padding: 5px 0;
  color: white;
}
tbody td {
 border: 1px solid;
 border-top: 0;
 border-bottom: 0;
 padding: 5px 0;
 text-align: right;
}
tbody tr:last-child td{
    border-bottom: 1px solid;
}
tfoot tr:not(:first-child), tfoot tr:first-child td:not(:first-child){
    text-transform: uppercase;
}
tfoot tr:first-child td:not(:first-child), tfoot tr:not(:first-child) td{
    text-align: right;
}
tfoot td{
    padding: 5px 0;
}
tfoot tr:not(:last-child) td:last-child{
    border-bottom: 1px solid;
}
tfoot tr:last-child td{
    border-top: 2px solid;
    font-size: 21px;
    font-weight: 600;
}
tfoot tr:last-child td:last-child{
   background-color: #fdbfcd;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
}
